<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="user-scalable=no">
    <title>イカゲーム</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <script>
    $(window).on('load',function(){
      num = Math.ceil(6 * Math.random()) - 1;
      console.log(num);
      urls = []
      urls.push('stage1.jpg')
      urls.push('stage2.jpeg')
      urls.push('stage3.png')
      urls.push('stage4.png')
      urls.push('stage5.jpg')
      urls.push('stage6.jpg')
      $("body").css('background-image', 'url(' + urls[num]+ ')');
    });
  </script>
</html>
